.DS_Store
.env
0_random/
0_random_group/

0_paper_times/2.pdf
0_paper_times/3.pdf


module-1/labs-soluce-proposals/lab-dom-ironhack-cart
module-1/labs-soluce-proposals/lab-dom-pizza-builder
module-1/labs-soluce-proposals/lab-javascript-advanced-algorithms
module-1/labs-soluce-proposals/lab-javascript-all-times-movies
module-1/labs-soluce-proposals/lab-javascript-chronometer
module-1/labs-soluce-proposals/lab-javascript-memory-game
module-1/labs-soluce-proposals/lab-javascript-vikings
module-1/labs-soluce-proposals/lab-javascript-functions-and-arrays