.is-clickable {
  cursor: pointer;
}

.has-border-top {
  padding-top: 10px;
  border-top: 1px solid;
}

.danger {
  color: firebrick;
}

.warning {
  color: darkorange;
}

.success {
  color: forestgreen;
}
