<div class="page">
    <h1 class="title">Contact</h1>
    <form method="post" class="form" action="/contact">
        <label class="label" for="username">username</label>
        <input id="username" class="input" type="text" name="username">
        <label class="label" for="email">email</label>
        <input id="email" class="input" type="text" name="email">
        <label class="label" for="subject">subject</label>
        <select name="subject" id="subject" class="input">
            <option value="bug">report a bug</option>
            <option value="feature">request a feature</option>
            <option value="chat">chat with us :)</option>
        </select>
        <label class="label" for="message">message</label>

        <textarea class="input" id="message" cols="30" rows="10" name="message"></textarea>
        <button class="btn">ok</button>
    </form>
</div>